APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:1+fCwetDtkkub/q2UC22WGWJow2zVSo0axQOYbGUFI4=
APP_DEBUG=true
APP_URL=https://custom.pansariinn.pk
  
APP_LOCALE=en 
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
 
APP_MAINTENANCE_DRIVER=file 

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=sqlite

SESSION_DRIVER=database
SESSION_LIFETIME=120

BROADCAST_DRIVER=pusher
QUEUE_CONNECTION=sync
CACHE_STORE=database
 

# Mail Configuration
MAIL_MAILER=smtp
MAIL_HOST=mail.pansariinn.pk
MAIL_PORT=465
MAIL_USERNAME="dev@pansariinn.pk"
MAIL_PASSWORD="qmD-n=hG]Z!R"
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=dev@pansariinn.pk
MAIL_FROM_NAME="Pansari Inn"



# ------------------------
# Pusher / Echo Settings
# ------------------------
PUSHER_APP_ID=2083217
PUSHER_APP_KEY=886b00d23e3b57ae81e5
PUSHER_APP_SECRET=c2b761f3fa327533b767
PUSHER_APP_CLUSTER=ap1
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
VITE_PUSHER_APP_HOST=
VITE_PUSHER_APP_PORT=443
VITE_PUSHER_APP_SCHEME=https


WHATSAPP_PHONE_NUMBER_ID=987230267802982
WHATSAPP_ACCESS_TOKEN=EAAMCtITuhCkBRANpYpUwISZCdNZAueZBGxZBg04Kox1afWpZApGoepqO7IA5yNsmlK6whfGfqMWZAyJmJKBNbFPuamDpaDxsonqXHPB9DU4zCMyWvOfDssynzzE1fMhKZAZCy9ZCgRfkutuk9WlLZAdYcjsrgDdlPrkYrMtZCxgCZBsyCMxn7Rp10F0rAEG0nTMVyAjTAgZDZD
WHATSAPP_VERIFY_TOKEN=pansariinn123


# ------------------------
# Optional / Reverb (remove for now)
# ------------------------
# BROADCAST_DRIVER=reverb
# REVERB_APP_ID=...
# REVERB_APP_KEY=...
# REVERB_APP_SECRET=...
# REVERB_HOST=...
# REVERB_PORT=...
# VITE_REVERB_APP_KEY=...
# VITE_REVERB_HOST=...